

.p1{
    background-color: #bd97f4;
    width: 300px;
}
.p2{
    background-color: #412966;
    color: white;
    width: 300px;
}
.p3{
    background-color: #bdb5c9;
    color: white;
    width: 300px;
}